@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


html {
	scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #000;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.none {
    display: none !important;
}

.hidden {
    visibility: hidden;
}

.no-scroll {
    overflow-y: hidden;
}
.container{
    margin: 0 auto;
    max-width: 1169px;
    padding: 0 15px;
}

/* header  */

.header{
    padding-top: 25px;
    position: relative;
    min-height: 886px;
    color: #fff;
    background-image: url(./../img/header/header-bgi.png);
    max-width: 1600;
    background-repeat: no-repeat;
    background-position: center;
    

}

.header a{
    color: #fff;
}
.header__top{
    padding-bottom: 52px;
}
/* nav  */
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 80px;
}

.nav__list {
	display: flex;
	column-gap: 25px;
	font-size: 15px;
	font-weight: 500;
    opacity: 0.7;
    transition: 0.2s;
}




.nav__list a {
	position: relative;
}
.btn {
    display: inline-block;
    color: white;
    font-weight: 500;
    text-decoration: none;
    user-select: none;
    padding: 15px 36px;
    outline: none;
    border: 2px solid;
    border-radius: 5px;
    transition: 0.2s ease;
}
.btn:hover{
    margin-top: 2px;
    background-color: #F6762C;
}
/* .active{
 
} */
 
    /* header content  */

 .header__content{
    position: absolute;
    padding-top: 177px;
    
    width: 555px;
    color:  #FFFFFF;
    font-weight: 500;
    left: 229px;
}   

.header__name{
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 7px;
}
.header__title{
    font-size: 57.33px;
    line-height: 67px;
    color: inherit;
    margin-bottom: 37px;
}
.header__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 42px;
}   

.button__header{
    margin-bottom: 241px;
}
/* section soup slide  */

.menu-card{
    background-color: #1C1C1C;
    padding-top: 124px;
    padding-bottom: 102px;
    font-weight: 500;
    left: 230px;
    color: #fff;

}
.card__row{
    display: flex;
    column-gap: 31px;
}
.card{

    position: relative;
    width: 262px;
    height: 323px;
    background-color:  #312F30;
    border-radius: 10px;

}
.soup__img{
    width: 262px;
    height: 175px;
    border-radius: 10px 10px 0px 0px;

}
.soup__title{
    padding: 0 64px;
    position: absolute;
    margin-top: 28px;
    color: #fff;
    height: 23px;
    font-size: 20px;
    line-height: 23px;   
}
.soup__text{
    padding-top: 63px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    color: #FFFFFF;
    
    opacity: 0.7;
}
.meat{
    width: 224px;
   margin: 0 19px;
}
.pizza{
    width: 240px;
    margin: 0 11px;
}
#pizza-title{
    padding: 0 85px;
}

/* speacial offer  */


.spec-offer-1{
    background-color: #312F30;
    min-height: 550px;
    padding-bottom: 43px;
}
.king-img{
    margin-left: 202px;
}
.king-title{
    color: #FFFFFF;
    position: relative;
    margin-left: 909px;
    margin-top: -330px;
    font-weight: 500;
    font-size: 44.2px;
}
.king-subtitle{
    position: absolute;
    color: #FFFFFF;
    opacity: 0.7;
    width: 368px;
    font-size: 16px;
    margin-left: 905px;
    margin-top: 24px;
}
.new-price{
    position: absolute;
    color: #F6762C;
    font-size: 20px;
    letter-spacing: 0.1em;
    margin-left: 907px;
    margin-top: 79px;
}
.last-price{
    position: absolute;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-decoration-line: line-through;
    color: #F6762C;
    opacity: 0.5;
    margin-left: 938px;
    margin-top: 81px;
}
#king-btn{
    position: absolute;
    margin-left: 912px;
    margin-top: 130px;
}

/* menu list */
.special-menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.menu{
    background-color: #1C1C1C;
    padding-top: 149px;
    padding-bottom: 146px;
    font-weight: 500;
    
}
.coffe__menu,
 .pizza__menu, 
 .pitta__menu, 
 .burger__menu{
    margin-right: 30px;
    margin-bottom: 30px;
    width: 555px;
    height: 300px;
    position: relative;
    
}
.coffe__content,
.burger__content{
    
    color: #fff;
    margin-left: 290px;
    padding-top: 63px;
    width: 264px;
    
}
.row{
  
    color: #fff;
    margin-left: 50px;
    padding-top: 63px;
    max-width: 264px;
}
.coffe__title,
.burger__title,
.pitta__title,
.pizza__title
{
    font-size: 30px;
    line-height: 35px;
    padding-bottom: 20px;
}
.coffe__text,
.burger__text,
.pizza__text,
.pitta__text
{
    width: 263px;
    font-weight: 400;
    font-size: 16px;
   line-height: 19px;
    opacity: 0.7;
    padding-bottom: 11px;

}
.price{
    display: flex;
    font-size: 16px;
    column-gap: 10px;
    color:  #F6762C;
    padding-bottom: 11px;   
}
.last{
    text-decoration-line: line-through;
    opacity: 0.5;
}

.coffe__menu{
    background-image: url(./../img/spec-offer/koffee.png);
    background-position: center;
    background-repeat: no-repeat;

}
.burger__menu{
    background-image: url(./../img/spec-offer/burger.png);
    background-position: center;
    background-repeat: no-repeat;

}
.pizza__menu{
    background-image: url(./../img/spec-offer/pizza.png);
    background-position: center;
    background-repeat: no-repeat;
}
.pitta__menu{
    background-image: url(./../img/spec-offer/snak.png);
    margin-right: 200px;
    

}


/* elip  */
.reviews{
    background-color: #1C1C1C;
    padding-bottom: 194px;
}
.feedback{
    display: flex;
    column-gap: 118px;
}
.feedback-img{
    width: 500px;
    height: 450px;
}
.feedback-content{
    margin-top: 125px;
    color: #FFFFFF;
    width: 368px;
    font-weight: 500;
     
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;

}
.feedback__commit{
    padding-bottom: 37px;
}
.feedback__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    opacity: 0.7;
    padding-bottom: 27px;
}
.feedback__avtor{
    font-size: 24px;
line-height: 28px;

}
.amirican{
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    opacity: 0.8;
}
.download{
    height: 170px;
    background-color: #312F30;
}
.download__content{

    display: flex;
    justify-content: space-between;
    padding-top: 62px;
    padding-bottom: 45px;
    font-weight: 500;
}
.download__title{
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}